modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
AI_INTEGRATIONS_ANTHROPIC_BASE_URL = "https://api.anthropic.com"
EXPO_PUBLIC_API_BASE_URL = "https://d10de6c9-978b-4185-af0e-c2e0074368e5-00-19u2n8ydf8g7s-ehoh960x.spock.replit.dev/api"
DEV_TEST_PASSWORD = "Sunrise2026!Test"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 20501
externalPort = 3003

[[ports]]
localPort = 20749
externalPort = 3002

[[ports]]
localPort = 21062
externalPort = 6000

[[ports]]
localPort = 21712
externalPort = 3000

[[ports]]
localPort = 22957
externalPort = 80

[[ports]]
localPort = 23057
externalPort = 5173

[[ports]]
localPort = 23167
externalPort = 5000

[[ports]]
localPort = 25383
externalPort = 4200

[[ports]]
localPort = 25623
externalPort = 3001
